<?xml version="1.0" encoding="iso-8859-1"?>
<configuration debug="false">

    <appender name="default.file" class="ch.qos.logback.core.ConsoleAppender">
        <append>true</append>
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %-5level %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <root>
        <priority value="info" />
        <appender-ref ref="default.file" />
    </root>
</configuration>